*{margin: 0;padding: 0;}
body{font-family: "Microsoft Yahei" , "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
a{text-decoration: none;}
img{border: none;}
.img-full>img{width: 100%;}
.part-l{float: left;}
.part-r{float: right;}
.meeting-interact-cont{width: 1200px;height: 752px;margin: 0 auto;overflow: hidden;zoom:1;}

.bo-title{
    text-align:center;
    color: #cc3333;
    font-size: 20px;
    font-weight: bold;
    line-height: 3em;
    background: url("../img/bo-bg-title.png") no-repeat center;
    background-size: 100% auto;
}
.bo-right{float: left;width: 414px;margin-left: 34px;height: 100%;}

/* left part */
.bo-left{width: 390px;}
.bo-collect{margin-top:20px;}
.bo-topic{margin-top: 40px;}
.bo-topic-img{overflow: hidden;zoom:1;margin-top: 10px;}
.bo-topic-img>.img-full{width: 180px;}
.bo-sike{position: relative;width: 100%;height: 200px;}
.bo-sike>a{position: absolute;height: 100%;width: 100%;top: 0;left: 0;color: white;font-size: 1.25rem;text-align: center;line-height: 200px;text-shadow:0 0 5px #000000;}
.bo-collect-content{background-color: #f5f5f5;height: 5.4em;font-size: 14px;line-height: 1.8em;padding: 10px;color: #808080;font-weight: bold;}
.bo-topic-list{margin-left:20px;color: #cccccc;margin-top: 20px;}
.bo-topic-list>li{position: relative;line-height: 2em;font-size: 16px;list-style-type: none;}
.bo-topic-list>li:before {content: "";position: absolute;display: block;top: 50%;left: -20px;width: 2px;height: 2px;background: #404040;}
.bo-topic-list a{color: #000;}
/* chat box */
.bo-chat{width: 328px;height: 100%;background: url("../img/bo-bg-chat.png") no-repeat center bottom;float: left;margin-left: 34px;}
.bo-chat-bg{width: 132px;height: 103px;margin-left: 30px;}
.bo-chat-bg>img{width: 100%;}
.bo-chat-box{width: 305px;height: 506px;overflow: hidden;margin: 50px auto 0 auto;}
.bo-chat-item{overflow: hidden;zoom: 1;height: 36px;padding:5px 10px;}
.bo-chat-list{list-style: none;z-index: 0;}
.chat-img{width: 36px;height: 100%;border-radius: 50%;overflow: hidden;}
.chat-img>img{width: 100%;}
.chat-msg{height: 100%;border-radius: 18px;margin-left: 8px;border: 1px solid #2c6ca7;}
.chat-msg>span{
    display: block;
    line-height: 36px;
    padding:0 9px;
    font-size: 14px;
    white-space: nowrap;
    width: auto;
    max-width: 200px;
    width: 200px\9;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bo-chat-leave{
    width: 194px;
    height: 80px;
    margin: 10px auto 0 auto;
    background: url("../img/bo-bg-leave.png") no-repeat center;
    background-size: cover;
}
.bo-chat-leave>a{display: block;width: 100%;height: 100%;}
/*sky wheel*/
.bo-skywheel{position: relative;width: 100%;height: 100%;background: url("../img/bo-img-center.jpg") no-repeat center;background-size: cover;}
.bo-open{width: 154px;height: 154px;margin: 0 auto;padding-top: 520px;}
.bo-open img{width: 100%;}
