extends layout
block meta
	title 合作伙伴_新华网健康中国
block main
	.mainBox1180
		.local_box
			ul.local_ul
				li
					a(href='/') 首页
				li &gt;
				li
					a(href='/info/iIndex.jsp?cat_id=10007') 合作伙伴
				.clearBoth
	.mainBox1180.hzhb
		.wtfz_box
			.wtfz_left.left
				.img-full
					img(src="img/hc-lxwm.png")
			.wtfz_right.left
				.right_in
					.hzhb_title
						img(src="img/hc-hzhb-title.png")
					ul
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						li
							.left_content
								a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
									img(src="http://www.xinhuanet.com/video/2016/images/head_03.png")
						.clearBoth
				.blank18
				.blank18
				.page
					span
						a(href='?site_id=CMSydylgw&cat_id=10006&cur_page=1') &lt;
					span
						a(href='?site_id=CMSydylgw&cat_id=10006&cur_page=1') 上一页
					span.fy_span(style='background: url(https://www.yidaiyilu.gov.cn/images/PC/page_bg_nb.png) repeat-x;')
						a(href='?cat_id=10006&cur_page=1', style='color:#fff;') 1
					span.fy_span
						a(href='?cat_id=10006&cur_page=2') 2
					span.fy_span
						a(href='?cat_id=10006&cur_page=3') 3
					span.fy_span
						a(href='?cat_id=10006&cur_page=4') 4
					span
						a(href='?site_id=CMSydylgw&cat_id=10006&cur_page=2') 下一页
					span
						a(href='?site_id=CMSydylgw&cat_id=10006&cur_page=4') &gt;
			.clearBoth
