extends layout
block meta
	script(src="https://www.yidaiyilu.gov.cn/js/PC/jquery.SuperSlide.2.1.1.js")
	title 新华网健康中国促进工作委员会
block main
	.main_wrap_r.domPC
		ul
			li
				.main_wrap_r_img
					a.wx_layer(href='javascript:void(0);')
						| &gt;&gt;
						b 申请加入
						| &lt;&lt;
			li
				.main_wrap_r_img
					a(href='http://weibo.com/u/6028786809?refer_flag=1001030101_', title='微博')
						| &gt;&gt;
						b 商务合作
						| &lt;&lt;
	.mainBox1180
		.hot_title.textCenter
			h1
				a(href='/tyxq.html', target='_blank') 俞正声：内蒙古要积极融入“一带一路”建成向北开放桥头堡
			.blank12
			span
				a(href='https://www.yidaiyilu.gov.cn/xwzx/gnxw/22451.htm', target='_blank') “一带一路”带来开放新契机
				a(href='https://www.yidaiyilu.gov.cn/xwzx/gnxw/22662.htm', target='_blank') 内蒙古经济沿“一带一路”腾飞
				a(href='https://www.yidaiyilu.gov.cn/xwzx/dfdt/21968.htm', target='_blank') 上半年对“一带一路”沿线国家进出口超300亿
	.mainBox1180
		.main-1.left
			#slideBox.slideBox
				.hd
					ul
						li
						li
						li
						li
						li
				.bd
					ul
						li
							a(href='/xwzx/pdjdt/22796.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708091030013.jpg')
								.title_slide_top 钦州港：形成与“一带一路”有机衔接的重要门户
						li
							a(href='/xwzx/pdjdt/22501.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708071001041.jpg')
								.title_slide_top 不悔的选择——记肯尼亚拉穆港的年轻建设者
						li
							a(href='/xwzx/pdjdt/22097.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708030152040.jpg')
								.title_slide_top 中欧班列（郑州）运力再升级 实现“七去七回”常态化开行
						li
							a(href='/xwzx/pdjdt/21935.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708021054039.jpg')
								.title_slide_top 中企承建白俄罗斯最大变电站竣工
						li
							a(href='/xwzx/pdjdt/21809.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708011119054.jpg')
								.title_slide_top 中国内蒙古国际蒙医医院医疗团队赴蒙古国义诊
				a.prev(href='javascript:void(0);')
				a.next(href='javascript:void(0);')
		.main-2.right.rtop
			.blank12
			.rtop-item
				b
					a(href='#') 阜外医院7月21日取消门诊窗口挂号
				ul.commonList_dot-qw
					li
						a(href='/zchj/qwfb/14395.htm', target='_blank') 阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号
			.rtop-item
				b
					a(href='#') 阜外医院7月21日取消门诊窗口挂号
				ul.commonList_dot-qw
					li
						a(href='/zchj/qwfb/14395.htm', target='_blank') 阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号
			.rtop-item
				b
					a(href='#') 阜外医院7月21日取消门诊窗口挂号
				ul.commonList_dot-qw
					li
						a(href='/zchj/qwfb/14395.htm', target='_blank') 阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号
			.rtop-item
				b
					a(href='#') 阜外医院7月21日取消门诊窗口挂号
				ul.commonList_dot-qw
					li
						a(href='/zchj/qwfb/14395.htm', target='_blank') 阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号阜外医院7月21日取消门诊窗口挂号
		.blank18
		.blank12
	.mainBox1180
		.main-1.left
			.title
				span.title_name
					a.yw1.hover(onmousemove="setTab('yw',1,3)", href='/yw.htm', target='_blank') 新闻中心
				span.title_more
					a.con_yw_1(href='/yw.htm', target='_blank') 更多 
				.clearBoth
			.blank4
			.con_yw_1
				ul.commonList_dot
					li(style='line-height: 34px;')
						a(href='/xwzx/gnxw/22943.htm', target='_blank') “中国制造”打造品牌迈向高端 技术创新品质过硬获赞誉
						span 2017-08-10
					li(style='line-height: 34px;')
						a(href='/xwzx/hwxw/22887.htm', target='_blank') 中日执政党交流机制第六次会议举行 探讨在“一带一路”框架内开展合作
						span 2017-08-10
					li(style='line-height: 34px;')
						a(href='/xwzx/gnxw/22896.htm', target='_blank') 香港与内地签署深化旅游合作协议 联合开发“海上丝路”旅游产品
						span 2017-08-10
					li(style='line-height: 34px;')
						a(href='/xwzx/hwxw/22885.htm', target='_blank') 中企承建马来西亚东海岸铁路项目开工 惠及沿线逾440万人口
						span 2017-08-10
					li(style='line-height: 34px;')
						a(href='/jcsj/sjrw/22894.htm', target='_blank') 2017年1-7月中国对“一带一路”沿线国家出口快速增长
						span 2017-08-10
					li(style='line-height: 34px;')
						a(href='/xwzx/bwdt/22858.htm', target='_blank') “一带一路”建设2017年专项课题公开征集公告
						span 2017-08-09
					li(style='line-height: 34px;')
						a(href='/xwzx/gnxw/22925.htm', target='_blank') 【丝路新闻摘要】2017年8月7日：发改委研究支持香港参与“一带一路”协议
						span 2017-08-09
			.clearBoth
		.main-2.rdzt.right
			.title
				span.title_name
					a.hover(href='/info/iList.jsp?cat_id=10027', target='_blank') 通知公告 
				span.title_more
					a(href='/info/iList.jsp?cat_id=10027', target='_blank') 更多 
			.blank15
			a(href='http://www.yidaiyilu.gov.cn/xwzx/gnxw/6339.htm', target='_blank')
				img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703180535055.jpg')
			ul.commonList_dot-qw
				li
					a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydyljszjh.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydyljszjh.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
		.clearBoth
	.blank18
	.mainBox1180
		.main-1.left
			.title
				span.title_name
					a.xmal1.hover(href='/qyfc.htm', target='_blank') 秘书处
				span.title_more
					a.con_xmal_1(href='/qyfc.htm', target='_blank') 更多 
			.blank12
			.con_xmal_1
				.left
					.xmal_pic
						a(href='/sy/xxmal/9646.htm', target='_blank')
							img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg', width='350', height='180')
							.pic_title “一带一路”国际合作重大工程项目盘点
					.blank18
					.blank8
					ul.commonList_dot
						li
							a(href='/xwzx/hwxw/22885.htm', target='_blank') 中企承建马来西亚东海岸铁路项目开工
						li
							a(href='/xwzx/hwxw/22200.htm', target='_blank') 中国全自动无人驾驶轻轨车辆将落户马来西亚
						li
							a(href='/xwzx/hwxw/22197.htm', target='_blank') 俄罗斯最大天然气加工项目开工
				.right
					.xmal_pic
						a(href='/sy/xxmal/9630.htm', target='_blank')
							img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200952022.jpg', width='350', height='180')
							.pic_title 境外经贸合作区：“一带一路”双赢平台
					.blank18
					.blank8
					ul.commonList_dot
						li
							a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
						li
							a(href='/xwzx/hwxw/17508.htm', target='_blank') 中国企业拟在印尼建碳钢厂和电站
						li
							a(href='/xwzx/hwxw/16823.htm', target='_blank') 中国在俄罗斯最大电力能源类投资项目正式投...
			.clearBoth
		.main-2.right
			.title
				span.title_name
					a.hover(href='/zchj.htm', target='_blank')  权威发布 
				span.title_more
					a(href='/zchj.htm', target='_blank')  更多 
			.blank12
			a(href='/zchj/jggg/16621.htm', target='_blank')
				img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201706/201706200325026.png')
			.blank18
			ul.commonList_dot-qw
				li
					a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydyljszjh.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydyljszjh.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				li
					a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
		.clearBoth
	.blank18
	.mainBox1180
		.main-1.left
			.title
				span.title_name
					a.hwksl1.hover(href='/ghsl.htm', target='_blank') 国内动态
				span.title_more
					a.con_hwksl_1(href='/ghsl.htm', target='_blank') 更多
			.blank18
			.con_hwksl_1
				a(href='/ghsl/hwksl/22800.htm', target='_blank')
					img.left(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708091019014.jpg', width='180', height='100')
				.right.hwksl_pic
					a(href='/ghsl/hwksl/22800.htm', target='_blank')
						h1.f16px 马来西亚总理：“一带一路”将创造贸易和投资新机遇
					.blank9
					p.textIndent2em.lineHeight160 纳吉布表示，马中两国签署了一系列合作协议，中方对马来西亚的投资承诺是两国双边关系发展取得的成果。他说...
					.blank9
					span.right 2017-08-09
				.clearBoth
				.blank9
				ul.commonList_dot
					li
						a(href='/ghsl/hwksl/22702.htm', target='_blank') 日媒：非洲各国期待中国铁路建设激发经济活力
						span 2017-08-08
					li
						a(href='/ghsl/hwksl/22640.htm', target='_blank') 意媒：中欧班列年内有望抵达米兰
						span 2017-08-08
					li
						a(href='/ghsl/hwksl/22563.htm', target='_blank') 英媒体称西方企业看好“一带一路”商机
						span 2017-08-07
					li
						a(href='/ghsl/hwksl/22702.htm', target='_blank') 日媒：非洲各国期待中国铁路建设激发经济活力
						span 2017-08-08
					li
						a(href='/ghsl/hwksl/22640.htm', target='_blank') 意媒：中欧班列年内有望抵达米兰
						span 2017-08-08
			.con_hwksl_2(style='display: none;')
				a(href='/ghsl/gnzjgd/22217.htm', target='_blank')
					img.left(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708041154019.jpg', width='180', height='100')
				.right.hwksl_pic
					a(href='/ghsl/gnzjgd/22217.htm', target='_blank')
						h1.f16px 迟福林：推进“一带一路”中欧合作五点建议
					.blank9
					p.textIndent2em.lineHeight160 深化“一带一路”中欧合作的关键选项是中欧自贸区。但欧盟对此有较大疑虑，并且实际上采取了拖延的办法。虽...
					.blank9
					span.right 2017-08-04
				.clearBoth
				.blank9
				ul.commonList_dot
					li
						a(href='/ghsl/gnzjgd/22797.htm', target='_blank') 梁君健：“一带一路”倡议为影视创作开辟新思路
						span 2017-08-09
					li
						a(href='/ghsl/gnzjgd/22631.htm', target='_blank') 人民日报海外版：“一带一路”带来港口发展新机遇
						span 2017-08-08
					li
						a(href='/ghsl/gnzjgd/22382.htm', target='_blank') 苏晓晖：中国东盟共绘合作新蓝图 “一带一路”为点睛之笔
						span 2017-08-05
		.main-2.right.hdzt
			.title
				span.title_name
					a.hover(href='/info/iList.jsp?cat_id=10042', target='_blank') 活动专题
				span.title_more
					a(href='/info/iList.jsp?cat_id=10042', target='_blank') 更多 
			.blank15
			.hdzt-box
				ul.commonList
					li.on
						h5.i1
							a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
						a.img-full
							img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
					li
						h5.i2
							a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
						a.img-full
							img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
					li
						h5.i3
							a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
						a.img-full
							img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
					li
						h5.i4
							a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
						a.img-full
							img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
	.clearBoth
	.blank15
	.mainBox1180.yclm_i
		.main-1
			.title
				span.title_name
					a.hover(href='/info/iList.jsp?cat_id=10042', target='_blank') 原创栏目
				span.title_more
					a(href='/info/iList.jsp?cat_id=10042', target='_blank') 更多
			.blank15
			.bo-box
				ul.img-box
					li
						.xmal_pic
							a(href='/sy/xxmal/9646.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
								.pic_title “一带一路”国际合作重大工程项目盘点
					li
						.xmal_pic
							a(href='/sy/xxmal/9646.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
								.pic_title “一带一路”国际合作重大工程项目盘点
					li
						.xmal_pic
							a(href='/sy/xxmal/9646.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
								.pic_title “一带一路”国际合作重大工程项目盘点
					li
						.xmal_pic
							a(href='/sy/xxmal/9646.htm', target='_blank')
								img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
								.pic_title “一带一路”国际合作重大工程项目盘点
			.blank15
	.blank15
	.mainBox1180.yqlj
		.blank15
		.bo-box
			.yqlj-title
				b 友情链接
			ul.bo-line
				li.bo-33
					a(href='#', target='_blank') 国务院发展研究中心
				li.bo-33
					a(href='#', target='_blank') 国家发展与改革委员会
				li.bo-33
					a(href='#', target='_blank') 国家卫生与计划生育委员会
				li.bo-33
					a(href='#', target='_blank') 科学技术部
				li.bo-33
					a(href='#', target='_blank') 工业信息部
				li.bo-33
					a(href='#', target='_blank') 教育部
		.blank15
block foot
	script(src='js/healthchina.js')