doctype html
html
	head
		meta(charset='utf-8')
		meta(name='renderer', content='webkit')
		meta(name='renderer', content='webkit|ie-comp|ie-stand')
		meta(name='subsite', content='新华网健康中国促进工作委员会')
		meta(name='keywords', content='新华网健康中国促进工作委员会')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(http-equiv='description', content='中文,新华网,健康中国,新华网健康中国促进工作委员会')
		meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=no')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(type='text/javascript', src='https://www.yidaiyilu.gov.cn/js/PC/jquery1.11.1.min.js')
		script(type='text/javascript', src='https://www.yidaiyilu.gov.cn/js/PC/jquery-migrate-1.2.1.js')
		script(type='text/javascript', src='https://www.yidaiyilu.gov.cn/js/PC/common.js')
		block meta
	body
		.mainBox1180
			.nav_toolbar
				.left.domPC
					a(href='/')
						img(src='img/news-logo.png')
				.left.domPC
					a(href='/')
						img(src='img/hc-logo.png')
				.left
					a(href='/')
						img(src='img/hc-toptitle.png')
				.right.domPC
					.search
						form#searchform(name='searchform', action='http://so.news.cn/#search/0/', method='get')
							input#q.search_input(type='text', value='请输入关键字', onfocus="javascript:if(this.value=='请输入关键字')this.value='';")
							a.search_btn(href="http://so.news.cn",target="_blank")
					.clearBoth
				.clearBoth
		.nav
			ul.menu
				li#n1.nav_li
					a(href='/index.html') 首页 
				li#n2.nav_li
					a(href='/wyhjj.html', target='_blank') 委员会简介
					ul
						li
							a(href='/info/iList.jsp?cat_id=10149', target='_blank') 本会领导
						li
							a(href='/info/iList.jsp?cat_id=10002', target='_blank') 本会专家
						li
							a(href='/info/iList.jsp?cat_id=10005', target='_blank') 组织架构
						li
							a(href='/info/iList.jsp?cat_id=10003', target='_blank') 工作人员
				li#n3.nav_li
					a(href='/jgzn.html', target='_blank') 机构职能
					ul
						li
							a(href='/info/iList.jsp?cat_id=10006', target='_blank') 调查研究
						li
							a(href='/info/iList.jsp?cat_id=10008', target='_blank') 政策试点
						li
							a(href='/info/iList.jsp?cat_id=10010', target='_blank') 投资平台
						li
							a(href='/info/iList.jsp?cat_id=10009', target='_blank') 创新奖励
						li
							a(href='/info/iList.jsp?cat_id=10011', target='_blank') 人才培养
						li
							a(href='/info/iList.jsp?cat_id=10029', target='_blank') 基地建设
						li
							a(href='/info/iList.jsp?cat_id=10147', target='_blank') 原创栏目
						li
							a(href='/zchj.htm', target='_blank') 新闻传播
				li#n4.nav_li
					a(href='/tyej.html', target='_blank') 新闻中心
				li#n5.nav_li
					a(href='/wzlb.html', target='_blank') 通知公告
				li#n6.nav_li
					a(href='/wzlb.html', target='_blank') 权威发布
				li#n7.nav_li
					a(href='/qyfc.html', target='_blank') 国内动态
				li#n8.nav_li
					a(href='/ghsl.html', target='_blank') 活动专题
				li#n9.nav_li
					a(href='/yclm.html', target='_blank') 原创栏目
				li#n10.nav_li(style="border-right: #ffffff solid 1px;")
					a(href='/hzhb.html', target='_blank') 合作伙伴
				.clearBoth
		block main
		.blank18
		.blank18
		.blank18
		.blank18
		.footer
			script(src="http://www.xinhuanet.com/static/js/com_copyright.js")
		script(src="js/base.js")
		block foot