extends layout
block meta
	title 通用二级_新华网健康中国
block main
	.mainBox1180
		.local_box
			ul.local_ul
				li
					a(href='/') 首页
				li &gt;
				li
					a(href='/info/iIndex.jsp?cat_id=10007') 通知公告
				.clearBoth
	.mainBox1180.tyej
		.wtfz_box
			.wtfz_right.left
				ul.right_in
					li
						.right_content.left
							.img-full
								img(src="https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708160128011.jpg")
						.left_content.left
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								h1 受权发布：《“一带一路”建设海上合作设想》（七语言版本）
							.blank9
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								p.lineHeight180
									| 国家发展和改革委员会、国家海洋局联合发布《“一带一路”建设海上合作设想》（以下简称《设想》）。这是自2015年3月28日发布《推动共建丝绸之路经济带和21世纪海上丝绸之路的愿景与行动》以来，中国政府首次就推进“一带一路”建设海上合作提出中国方案，也...
							span 2017-06-20
						.clearBoth
					li
						.right_content.left
							.img-full
								img(src="https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708160128011.jpg")
						.left_content.left
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								h1 受权发布：《“一带一路”建设海上合作设想》（七语言版本）
							.blank9
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								p.lineHeight180
									| 国家发展和改革委员会、国家海洋局联合发布《“一带一路”建设海上合作设想》（以下简称《设想》）。这是自2015年3月28日发布《推动共建丝绸之路经济带和21世纪海上丝绸之路的愿景与行动》以来，中国政府首次就推进“一带一路”建设海上合作提出中国方案，也...
							span 2017-06-20
						.clearBoth
					li
						.right_content.left
							.img-full
								img(src="https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708160128011.jpg")
						.left_content.left
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								h1 受权发布：《“一带一路”建设海上合作设想》（七语言版本）
							.blank9
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								p.lineHeight180
									| 国家发展和改革委员会、国家海洋局联合发布《“一带一路”建设海上合作设想》（以下简称《设想》）。这是自2015年3月28日发布《推动共建丝绸之路经济带和21世纪海上丝绸之路的愿景与行动》以来，中国政府首次就推进“一带一路”建设海上合作提出中国方案，也...
							span 2017-06-20
						.clearBoth
					li
						.right_content.left
							.img-full
								img(src="https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708160128011.jpg")
						.left_content.left
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								h1 受权发布：《“一带一路”建设海上合作设想》（七语言版本）
							.blank9
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								p.lineHeight180
									| 国家发展和改革委员会、国家海洋局联合发布《“一带一路”建设海上合作设想》（以下简称《设想》）。这是自2015年3月28日发布《推动共建丝绸之路经济带和21世纪海上丝绸之路的愿景与行动》以来，中国政府首次就推进“一带一路”建设海上合作提出中国方案，也...
							span 2017-06-20
						.clearBoth
					li
						.right_content.left
							.img-full
								img(src="https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201708/201708160128011.jpg")
						.left_content.left
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								h1 受权发布：《“一带一路”建设海上合作设想》（七语言版本）
							.blank9
							a(href='/zchj/jggg/16621.htm', target='_blank', title='受权发布：《“一带一路”建设海上合作设想》（七语言版本）')
								p.lineHeight180
									| 国家发展和改革委员会、国家海洋局联合发布《“一带一路”建设海上合作设想》（以下简称《设想》）。这是自2015年3月28日发布《推动共建丝绸之路经济带和21世纪海上丝绸之路的愿景与行动》以来，中国政府首次就推进“一带一路”建设海上合作提出中国方案，也...
							span 2017-06-20
						.clearBoth
				.clearBoth
			.main-2.right
				.rdzt
					.title
						span.title_name
							a.hover(href='/info/iList.jsp?cat_id=10027', target='_blank') 通知公告 
						span.title_more
							a(href='/info/iList.jsp?cat_id=10027', target='_blank') 更多 
					.blank15
					a(href='http://www.yidaiyilu.gov.cn/xwzx/gnxw/6339.htm', target='_blank')
						img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703180535055.jpg')
					ul.commonList_dot-qw
						li
							a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
						li
							a(href='https://www.yidaiyilu.gov.cn/ydyljszjh.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
						li
							a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
						li
							a(href='https://www.yidaiyilu.gov.cn/ydyljszjh.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
						li
							a(href='https://www.yidaiyilu.gov.cn/ydylhzgy.htm', target='_blank') 《中国对外投资合作发展报告（2016）》
				.blank15
				.blank15
				.hdzt
					.title
						span.title_name
							a.hover(href='/info/iList.jsp?cat_id=10042', target='_blank') 活动专题
						span.title_more
							a(href='/info/iList.jsp?cat_id=10042', target='_blank') 更多 
					.blank15
					.hdzt-box
						ul.commonList
							li.on
								h5.i1
									a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
								a.img-full
									img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
							li
								h5.i2
									a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
								a.img-full
									img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
							li
								h5.i3
									a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
								a.img-full
									img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
							li
								h5.i4
									a(href='/xwzx/hwxw/17972.htm', target='_blank') “一带一路”带动中俄电力合作
								a.img-full
									img(src='https://www.yidaiyilu.gov.cn/wcm.files/upload/CMSydylgw/201703/201703200951035.jpg')
			.clearBoth