extends layout
block meta
	link(rel='stylesheet', type='text/css', href='css/tyxq.css')
	title 通用详情_新华网健康中国
block main
	.mainBox1180
		//- .widthMain.main
		#conTit
			h1
				| 新华网股份有限公司副总裁杨庆兵致辞
			.info
				span.h-time  2017-05-18 10:21:29
				span.source
					| 来源： 
					em#source  新华网
		#content
			.video-box
				iframe.video-frame(src=' ')
			p(style='TEXT-ALIGN: center', align='center')
				img(id='{64D15FCE-9970-4369-8A7F-0205D7450B2A}', src='http://news.xinhuanet.com/video/2017-05/18/129606972_14950736832431n.jpg')
			p
				span 2017年5月18日，第三届健康中国发展论坛暨2017《健康解码》开放合作大会在京举办。图为
				span 新华网股份有限公司
				span 副总裁
					span 杨庆兵
					| 致辞。
			p
				span
		.bottom.clearfix
			.edit [责任编辑：张亚娟]
			#share
				.bdsharebuttonbox.bdshare-button-style0-24(data-bd-bind='1502877585529')
					a.bds_more(href='#', data-cmd='more')
					a.bds_xinhua(href='#', data-cmd='xinhua', title='分享到新华微博')
					a.bds_qzone(href='#', data-cmd='qzone', title='分享到QQ空间')
					a.bds_tsina(href='#', data-cmd='tsina', title='分享到新浪微博')
					a.bds_tqq(href='#', data-cmd='tqq', title='分享到腾讯微博')
					a.bds_weixin(href='#', data-cmd='weixin', title='分享到微信')
				script.
					window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];