extends layout
block meta
	title 委员会简介_新华网健康中国
block main
	.mainBox1180
		.local_box
			ul.local_ul
				li
					a(href='/') 首页
				li &gt;
				li
					a(href='/info/iIndex.jsp?cat_id=10007') 委员会简介
				.clearBoth
	.mainBox1180
		.wtfz_box
			.wtfz_left.left
				.blank2
				ul
					a(href='/info/iList.jsp?cat_id=10150', title='委员会简介')
						li.cur 委员会简介
					a(href='/info/iList.jsp?cat_id=10006', title='本会领导')
						li 本会领导
					a(href='/info/iList.jsp?cat_id=10008', title='本会专家')
						li 本会专家
					a(href='/info/iList.jsp?cat_id=10009', title='组织架构')
						li 组织架构
					a(href='/info/iList.jsp?cat_id=10010', title='工作人员')
						li 工作人员
				.img-full
					img(src="img/hc-lxwm.png")
			.wtfz_right.left
				.right_in.jj_box
					p
						b 一、机构概况
					p 2015年1月由国务院发展研究中心、国家发改委、国家卫计委、科技部、工信部、教育部、总后勤部卫生部、中国工程院、中国科学院、中国医学科学院和各医学科研院所的相关专家领导为了响应党中央提出建设创新性国家建设目标和实现中华民族伟大复兴的梦想，共同倡议发起医学科技促进工作委员会，并报国务院国资委和国家卫生计生委同意、中国生命关怀协会、中国医药教育协会分别批准，并接受多部委指导，面向全国促进医学科技创新与成果转化的专业工作机构，简称中国医促委。采取两块牌子，一套工作班子，由每届主任委员和秘书长统一管理领导。自2015年5月正式成立以来，除聚集了来自全国各地的医疗机构、医科院校和医疗企业界的1400多名会员以外，还聚集了各部委及省市领导、二院院士、国务院参事和著名经济学家、医学专家、企业家、金融家等共400多名高级专业研究人员。
					p
						b 二、机构地址
					p 北京市西城区永安路106号中央国家机关政府公开信息查阅中心主楼三层。
					p
						b 三、机构宗旨
					p 围绕国家创新驱动发展战略，探索科技创新发展的有效合作平台和需求创新转化模式，促进科技政策、科技人才、科技研究、科技成果和健康产业的紧密结合；建立政、产、学、研、用之间的高效交流平台和合作机制，促进科技创新人才的全面培养；增强科技创新的活力和效率，提高自主创新的质量，快速转化意义重大的科技成果，推动健康产业的快速发展，不断满足人民群众日益增长的健康需求。
					p
						b 四、主要业务
					p 发展战略研究：完成国务院发展研究中心、科技部、工信部等相关部委交付的调查研究课题及政策试点工作，及时组织调研专家协调相关部门，如实反馈实际情况完成调研任务；为医院、大学和企业提供政策咨询、项目咨询、产业咨询和对相关企事业单位进行发展规划指导及重点问题的调查研究，并如实向政府部门反馈实际情况及会员诉求，为政府和各级机构搭建一个沟通的桥梁。
					p 科技创新基金：依托国家卫生计生委、科技部、工信部等部委联合建立政府主导，以支持医院、大学和企业为主的医学科技创新基金，专项资助以医、产、学、研、用多领域协同创新并实现产业化为目标的科研项目；重点资助临床应用研究、产品开发研究、科技成果转化、政策服务保障和健康产业发展为核心的科研项目。建立多领域多机构的协同创新和交叉合作平台，促进科技创新转化为有效的社会生产力，促进自主知识产权产品的市场应用。
					p 培养领军人才：根据国家医学科技人才战略的需要，联合北京大学、清华大学、中央党校、哈佛医学院、霍普金斯大学、耶鲁大学等高校开展工作访问学者学术交流、业务培训，为广大医务工作者服务并发现和培育一批在医院、大学和企业中工作优异的科技创新领军人才，完善医学科技领域基础科研、工程开发、临床应用、科研管理和领军人才队伍的建设体系。
					p 医学科技奖励：组织和设立“医学科技进步奖”，表彰和奖励协同创新中取得优秀科技成果的单位或个人，组织推广医学科技发展中的优秀科技成果、先进组织和科技领军人才，向政府职能部门和医疗机构推荐意义重大的具有自主知识产权的高技术产品。
					p 培育新兴产业：通过组织医院、大学和企业设立协同创新中心或产学研创新基地，协助企业申报国家重大专项、重点学科等国家技支撑项目，千人计划、院士（博士）工作站等国家人才项目，提供CFDA认证审批、产品推广等服务，培育发展战略性新兴产业，提高企业研发能力，降低产品的开发成本，缩短申报周期，减少公众等待时间，降低社会成本，促进医药企业健康、稳定、可持续发展，满足国家对健康产业发展的战略需求。
			.clearBoth