extends layout
block meta
	title 文字列表_新华网健康中国
block main
	.mainBox1180
		.local_box
			ul.local_ul
				li
					a(href='/') 首页
				li &gt;
				li
					a(href='/info/iIndex.jsp?cat_id=10007') 原创栏目
				.clearBoth
	.mainBox1180.wzlb
		.wtfz_box
			ul#autoData.wzlb_box
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-08/15/c_129680732.htm', target='_blank') 中国“好学生” 让好学生赢得更广阔的天空
					span 2017-08-15
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-08/02/c_129670643.htm', target='_blank') 江西赛区万婧珂荣获全国二等奖
					span 2017-08-02
				li
					h3
						a(href='http://www.goodstu.com', target='_blank') 中国好学生官网
					span 2017-07-31
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-07/26/c_129664521.htm', target='_blank') 2017年中国“好学生”英语大赛圆满收官
					span 2017-07-26
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-08/04/c_129673005.htm', target='_blank') 中国"好学生"英语大赛全国总决赛主持人星蓓
					span 2017-08-04
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-08/04/c_129672224.htm', target='_blank') 中国"好学生"英语大赛 依再提古丽表现出色
					span 2017-08-04
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-08/02/c_129670909.htm', target='_blank') 黑龙江赛区韩雅婷荣获高中组冠军
					span 2017-08-02
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-07/25/c_129663134.htm', target='_blank') 光荣与梦想 ——记“好学生”英语大赛
					span 2017-07-25
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-07/26/c_129664443.htm', target='_blank') 中国“好学生”英语大赛圆满收官
					span 2017-07-26
				li
					h3
						a(href='http://news.xinhuanet.com/video/2017-07/24/c_129662266.htm', target='_blank') 第二届中国“好学生”英语大赛开幕式北京举行
					span 2017-07-24
			.moreBtn
				#moreBtn
					span 更多