@charset "UTF-8";
html{
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    font-size: 16px;
}
html,body,ul{
    margin: 0;
    padding: 0;
}
a,button,input{cursor: pointer;}
ul.unList{list-style: none;}
.bg_white{background-color: #FFFFFF;}
.color_white{color: #ffffff;}
.fr{float: right;}
.fl{float: left;}
.img_full img{width: 100%;}
.unfix:after {clear: both;}
.unfix:before, .unfix:after {
    display: table;
    content: "";
}
.w_1200{width: 1200px;margin: 0 auto;}
/*智谷风格样式*/
.zg .bg_lb{background-color: #e6f3ff;}
.zg .bg_db{background-color: #2c3e50;}
.zg .color_blue{color: #1d71b7;}
.zg .color_db{color: #2c3e50;}
.zg .title{
    font-weight: bold;
    font-size: 18px;
    color: #1d71b7;
}
.zg .header{padding-top: 40px;}
.zg .header .w_1200{height: 58px;padding: 16px 0;}
.zg .header .logo{
    display: inline-block;
    float: left;
    width: 90px;
    height: 100%;
    overflow: hidden;
}
.zg .header .unList{display:inline-block;float: right;height: 100%;}
.zg .header li{
    display: inline-block;
    height: 100%;
    width: 80px;
}
.zg .header li:hover{color: #1d71b7;}
.zg .header li>a{
    display: block;
    line-height: 58px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}