div.aticle-info {
    color         : #666;
    letter-spacing: 0.1em;
    line-height   : 1.5;
}

.aticle-section {
    margin-bottom: 30px;
}

.aticle-section img {
    width: 100%;
}

.aticle-section p {
    color      : #333;

    line-height: 1.5;
}

.aticle-section .aticle-info {
    padding-top: 2em;

    text-align : right;
}
