.h1{font-size: 18px;font-weight: bold;color: #9fb0c0;}
.h2{font-size: 15px;color: #5e7d9e;}
.home_bg{
    height: 700px;
    background: url("../img/h-bg.jpg") no-repeat top center;
    background-size: 100% auto;
    overflow: hidden;
}
.host{
    height: 105px;
    background: url("../img/h-host.png") no-repeat top center;
    background-size: 100% auto;
}
.host_name{
    position: relative;
    height: 100%;
    width: 700px;
    margin: 0 auto;
    line-height: 24px;
}
.host_name .h1{padding-top: 16px;}