* { margin: 0; padding: 0; font-size:14px; font-weight: normal; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-style:normal; text-align:left; color:#676767; }
html { height:100%; }
body { height:100%; text-align:center; background-color: #e5f1fb; }
html, body { _background-image:url(about:blank); _background-attachment:fixed; }
img { border: none; }
li { list-style: none; }
img { vertical-align: middle; }
a { cursor:pointer; outline:none; color: #000; text-decoration:none; }
input { outline: none; }
a:link { }
a:visited { }
a:active, a:hover { color: #1270bd!important; }
.clear { clear:both}
/* 清除浮动 */
.clearfix { display: block; #zoom:1;/*ie6-ie7*/}
.clearfix:after { content: ''; overflow: hidden; width: 100%; height: 0; font-size: 0; margin: 0; padding: 0; display: block; clear: both; }
.img-full img{width: 100%;}

#topHeader { background:#393939; height: 42px; line-height:40px; text-align:center}
#topHeader .top {width: 1000px; margin: 0 auto;height: inherit;}
#topHeader a { float:left;height: 40px;line-height: 40px;color: #fff; margin:0 8px;font-size: 14px;}
#content { background:url(../img/banner.png) no-repeat center 0;}
.main { width:1000px;margin:0 auto;}
.mainCon{background: #fff;padding-top: 20px}
.dhl { padding:346px 70px 0;overflow: hidden;margin-bottom: 17px;height: 165px;}
.dhl p { font-size:16px; color:#1270bd; line-height:2em; padding-bottom:7px; text-indent:2em;font-weight: bold;}
.maps { background:#fff; height:786px;}
.title { background:url(../img/title.jpg) no-repeat; height:50px; margin-bottom:20px}
.title h2 { color:#fff; font-size:24px; padding-left:35px; line-height:48px}
.partL { float:left; width:50%;}
.title1 { background:url(../img/titbg.jpg) no-repeat; height:50px; margin-bottom:20px}
.title1 h2 { color:#fff; font-size:24px; padding-left:35px; line-height:48px;}
.headNews1{padding: 0 10px;border-bottom: 1px dotted #adadad}
.headNews1 h2{ font-size:24px; line-height:48px;position: relative ;padding-left: 15px;color: #333333;}
.headNews1 h2 a{color: #333333;font-size: 24px;line-height:48px;}
.headNews1 h2 .dRadius { display: block; height:8px; width:8px; position:absolute; left:0; top:50%;margin-top:-4px;border-radius:100%;background:#ff9c00; }
.headNews1 .imgs{height: 97px;float: left;overflow: hidden;margin-top: 20px; width: 172px; margin-right: 10px;}
.headNews1 .imgs a{display:block}
.headNews1 .imgs img{height: 97px; width: 172px;}
.headNews1 p { font-size:14px; color:#999; line-height:28px;margin-top: 10px; text-indent:2em;padding-bottom: 30px; }
.headNews1 p a{ font-size:14px; color:#ebb258; line-height:24px; }
.listTxt1-1{padding: 15px 10px;}
.listTxt1-1 li { line-height:34px; margin:10px 0; overflow:hidden; position:relative; padding-left:18px}
.listTxt1-1 li a { font-size:18px;line-height:34px;}
.listTxt1-1 .dRadius { display: block; height:8px; width:8px; position:absolute; left:0; top:50%;margin-top:-4px;border-radius:100%;background:#ff9c00; }
.partR { float:right; width:48%;}

.tit { background:url(http://www.xinhuanet.com/xhft/dhl1/images/titleR.png) no-repeat; height:20px; line-height:18px; margin-top:23px; margin-bottom:18px}
.tit h2 { font-size:18px; padding-left:13px; color:#000000}
.img-list{padding: 0 10px;}
.img-list .img-full{height: 276px;overflow: hidden;position: relative;}
.img-list .img-full .img-text{position: absolute;bottom: 0;width: 100%;background-color: rgba(0,0,0,0.5);height: 40px;line-height: 40px;text-indent: 1em;font-size: 1.2rem;}
.img-text a{color: white;}
.textList ul { margin-bottom:15px}
.textList li { line-height:32px; overflow:hidden;padding-left: 15px; position: relative}
.textList li a {font-family:"微软雅黑"; font-size:16px; height:20px; line-height: 20px; overflow: hidden;}
.textList li .dRadius {display: block; height:2px; width:2px; position:absolute; left:0; top:50%;margin-top:-1px;border-radius:100%;background:#000; }
.textList li.imp .dRadius {top: 16px;}
.textList li.imp a { font-weight:bold; }
.textList li.imp p { font-size: 14px;line-height: 1.8em;padding: 6px 10px 6px 0;text-indent: 2em;}
.footer { padding:30px 0 30px 0; background:#393939; text-align:center; margin-top:20px;}
.footer p { line-height: 20px; text-align:center;color: #fff;font-family: "宋体",Arial, Helvetica;}
.maps { display:block; width:1000px; height:786px; font-size:0; vertical-align: top; position:relative;z-index:1; margin:0 auto 2em auto; }
.maps area { position: relative; z-index: 10;cursor: pointer; }
.maps .dataMap > li { display: none;width: 310px; min-height: 364px;border:1px solid #9ec49e; background: url(http://www.xinhuanet.com/interview/qgyxxwsj2015/images/bg_alert.png);position:absolute; }
.maps .dataMap .dw{margin-right:3px;position:relative;}
.maps .dataMap h3{margin: 10px 10px 5px 30px;font-weight: bold;color: #e42c00;}
.maps .dataMap dl { margin:0 10px 15px 30px ;padding-bottom:15px; border-bottom:1px dotted #868686;}
.maps .dataMap dt span{font-size:16px;font-weight:bold;color:#674b16;padding-right:5px;}
.maps .dataMap dt, .maps .dataMap dl p { font-size:12px;color:#674b16;padding:3px 0;}
.maps .arrow{position:absolute;top:75px;left:-18px;}
.maps .links{text-align:right;}
.maps .links a{color:#959595;}
.sjList{padding: 0 10px}
.conBox{margin: 0;padding: 0;font-size: 14px;font-weight: normal;font-family: "微软雅黑", Arial, Helvetica, sans-serif;font-style: normal;text-align: left;color: #676767; }
.conBox h3 {margin-bottom: 10px;line-height: 28px;text-align: center;overflow: hidden;font-size: 16px;width: auto;height: 27px;background: #00a0e9;color: #fff;display: inline-block;}
.conBox h3 a {font-size: 16px;color: #fff;}
.conBox li {width: 31%;padding-left: 2%;overflow: hidden;position: relative;float: left;margin: 28px auto;height: 83px;}
.conBox .imgs a { font-size: 0; vertical-align: top; float: left;overflow: hidden; display: inline; margin-right: 10px; }
.conBox .imgs img { width: 78px; vertical-align: top; height:78px; border-radius: 100%;}
.conBox .summary {line-height: 21px;overflow: hidden;color: #333;font-size: 16px;position: relative;}
.conBox .summary a {color: #666666;font-size: 16px;}
.conBox .info { height: 14px;line-height: 14px;padding: 0;text-align: right;}
.conBox .bdsharebuttonbox { position: absolute; top: 20px; right: 0; display: none; }
.conBox .time {font-size: 14px;color: #999;font-family: Arial, Helvetica, sans-serif; }
.conBox .source { font-size: 12px; color: #999; border-right:1px solid #ccc; padding-right:10px; }
#autoData li { display:none; }
#moreBtn { text-align:center; padding:15px 0; }
#moreBtn span {
    display: inline-block;
    border-bottom:1px dotted #868686;border-top:1px dotted #868686;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background: #eee url(http://www.xinhuanet.com/interview/20160414/xwsj/img/down.png) 528px center no-repeat;
    cursor: pointer;
    color: #666;
}
.height-20{height: 20px;}
/*swiper*/
.swiper-container-horizontal>.swiper-pagination-bullets{width: 40%;right: 0;text-align: right;left:auto;}